@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:wght@300;500;600;700&family=Grey+Qo&family=Parisienne&family=Roboto:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #0f1419;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
img {
  cursor: pointer;
}

.box-message {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px -1px 10px rgba(86, 103, 115, 0.2);
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.box-message h2 {
  font-weight: bold;
}
.box-message div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box-message div img {
  margin: 0 0.5rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 82%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  margin-right: 5px;
}
.navigation-logo {
  margin-top: 1rem;
}
.navigation-logo img {
  width: 35px;
  height: 35px;
}
.navigation-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.navigation-links li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  transition: 0.3s ease;
}
.navigation-links li img {
  width: 26.25px;
  height: 26.25px;
}
.navigation-links li span {
  font-size: 20px;
  margin-left: 15px;
}
.navigation-links li:hover {
  background: rgba(86, 103, 115, 0.2);
}
.navigation-links button {
  width: 100%;
  background: #1d9bf0;
  border: none;
  padding: 12px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  margin: 0.5rem 0;
  transition: 0.3s ease;
}
.navigation-links button:hover {
  opacity: 0.8;
}
.navigation-profile {
  border-radius: 50px;
  width: 100%;
  padding: 8px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.navigation-profile:hover {
  background: rgba(86, 103, 115, 0.2);
}
.navigation-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navigation-profile div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-profile div div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}
.navigation-profile div div h2 {
  font-size: 15px;
  font-weight: bold;
}
.navigation-profile div div h3 {
  font-size: 15px;
  color: #566773;
}
.navigation-profile div img {
  width: 19px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
  width: 600px;
}
.container-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.container-header img {
  margin: 0 1rem;
}
.container-header div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}
.container-header div h2 {
  font-size: 20px;
  font-weight: bold;
}
.container-header div h3 {
  font-size: 15px;
  color: #566773;
}
.container-profile {
  position: relative;
}
.container-banner img {
  width: 598px;
}
.container .pic-profile {
  position: absolute;
  top: 130px;
  left: 20px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.container-infos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
.container-infos .right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container-infos .right button {
  border: 1px solid #cfd9de;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 30px;
  background: #fff;
  transition: 0.3s ease;
}
.container-infos .right button:hover {
  background: #cfd9de;
}
.container-infos .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.container-infos .title h2 {
  font-size: 25px;
  font-weight: bold;
}
.container-infos .title h3 {
  font-size: 15px;
  color: #566773;
}
.container-infos .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.container-infos .info li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.container-infos .info li img {
  width: 18px;
  height: 18px;
}
.container-infos .info li span {
  color: #566773;
  font-size: 15px;
  margin: 0 5px;
}
.container-infos .info li span:hover {
  text-decoration: underline;
}
.container-infos .info li .link {
  color: #1d9bf0;
  cursor: pointer;
}
.container-infos .follow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-infos .follow li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
.container-infos .follow li h2 {
  font-size: 15px;
  font-weight: bold;
}
.container-infos .follow li span {
  font-size: 15px;
  margin-left: 5px;
  color: #566773;
}
.container-infos .follow li:hover {
  text-decoration: underline;
}
.container-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eff3f4;
}
.container-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  width: 100%;
  cursor: pointer;
}
.container-nav li a {
  padding: 1rem 0;
  font-size: 15px;
  color: #566773;
  font-weight: bold;
}
.container-nav li:hover {
  background: rgba(86, 103, 115, 0.2);
}
.container-nav li.active a {
  position: relative;
}
.container-nav li.active a::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background: #1d9bf0;
  border-radius: 5px;
  bottom: 0;
}
.container-post .card {
  padding: 10px 20px;
  cursor: pointer;
  border-top: 1px solid #eff3f4;
  border-bottom: 1px solid #eff3f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s ease;
}
.container-post .card:hover {
  background: rgba(86, 103, 115, 0.05);
}
.container-post .card .pic-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container-post .card-container {
  width: 100%;
  margin-left: 10px;
}
.container-post .card-container h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-post .card-container h3 img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.container-post .card-container h3 span {
  font-size: 13px;
  color: #566773;
  font-weight: bold;
}
.container-post .card-container h2 {
  font-size: 15px;
  font-weight: bold;
}
.container-post .card-container h2 span {
  color: #566773;
  font-size: 15px;
}
.container-post .card-container p {
  padding: 0.25rem 0;
  font-size: 15px;
}
.container-post .card-container p .tag {
  color: #1d9bf0;
}
.container-post .card-container p .tag:hover {
  text-decoration: underline;
}
.container-post .card-container .img-post {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.container-post .card-container .promo {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #cfd9de;
  background: #fff;
  font-weight: bold;
  padding: 0.3rem 0;
  margin: 10px 0;
  font-size: 15px;
}
.container-post .card-container .promo:hover {
  background: rgba(86, 103, 115, 0.2);
}
.container-post .card-container .footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}
.container-post .card-container .footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}
.container-post .card-container .footer li img {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}
.container-post .card-container .footer li span {
  font-size: 13px;
  color: #566773;
}

.asside {
  padding: 0 20px;
  height: max-content;
  position: relative;
}
.asside-search {
  position: relative;
  width: 350px;
  padding: 5px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #fff;
}
.asside-search label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}
.asside-search label img {
  width: 20px;
  height: 20px;
}
.asside-search input {
  width: 100%;
  background: #eff3f4;
  border: 1px solid #eff3f4;
  border-radius: 30px;
  padding: 12px;
  padding-left: 50px;
  outline: none;
}
.asside-search input:focus {
  background: #fff;
  border-color: #1d9bf0;
}
.asside-recent {
  width: 350px;
  height: 230px;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}
.asside-recent img {
  width: 113px;
  height: 113px;
  -o-object-fit: cover;
  object-fit: cover;
}
.asside-follow {
  width: 350px;
  border-radius: 20px;
  background: #f7f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 15px 0;
}
.asside-follow h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 1rem 0 0.5rem 1rem;
}
.asside-follow .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.asside-follow .card:hover {
  background: rgba(86, 103, 115, 0.2);
}
.asside-follow .card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.asside-follow .card div {
  width: 100%;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.asside-follow .card div h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}
.asside-follow .card div h3 {
  font-size: 15px;
  color: #566773;
}
.asside-follow .card button {
  font-weight: bold;
  border: none;
  color: #fff;
  background: #0f1419;
  border-radius: 30px;
  padding: 7px 13px;
}
.asside-follow .altro {
  color: #1d9bf0;
  font-size: 15px;
  padding: 0.5rem 0 1rem 1rem;
}
.asside-tendance {
  width: 350px;
  border-radius: 20px;
  background: #f7f9f9;
  margin: 15px 0;
  padding-bottom: 1rem;
}
.asside-tendance .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}
.asside-tendance .title h2 {
  font-size: 20px;
  font-weight: bold;
}
.asside-tendance .card {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s ease;
  cursor: pointer;
}
.asside-tendance .card:hover {
  background: rgba(86, 103, 115, 0.2);
}
.asside-tendance .card div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.asside-tendance .card div h2 {
  font-size: 15px;
  font-weight: bold;
}
.asside-tendance .card div h3,
.asside-tendance .card div h4 {
  font-size: 13px;
  color: #566773;
}
.asside-tendance .altro {
  color: #1d9bf0;
  font-size: 15px;
  padding: 0.5rem 0 1rem 1rem;
}
.asside .copy {
  text-align: center;
}
.asside .copy a {
  color: #1d9bf0;
}
